.wrapper {
  display: flex;
  height: 100%;
  margin: 0px auto;
}

/* header区域 */

/* 默认样式：适用于手机 (0px 及以上) */
.header {
  height: 8vh;
  width: 100%;
  position: fixed;
  background-color: #126fe000;
  z-index: 100;
  transition: all 1s;
}

.header .wrapper {
  display: block;
}

.header h1 {
  margin-left: 3vw;
  height: 100%;
}

.header h1 a {
  position: relative;
  height: 100%;
  display: block;
}

.header h1 a img {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 25vh;
  height: auto;
  transition: all 1s;
  object-fit: contain;
}

/* header宽屏菜单 */
.headermenu {
  /* z-index: 110; */
  display: none;
  align-items: center;
  height: 100%;
  top: 0%;
  position: absolute;
  right: 15vh;
}

.headermenu li {
  padding: 2vh 2vw 1vh 2vw;
  text-align: center;
  border-left: 1px solid #9c9c9c44;
  transition: all 0.5s;
}

.headermenu li:hover {
  background-color: #7BB1F0;
}

.headermenu li a {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
}

.headermenu li a .headermenuen {
  color: #ffffff;
  font-size: 0.8rem;
  transform: translateY(-30%);
  font-weight: 400;
}

/* header右侧按钮 */
.menubt {
  z-index: 200;
  position: fixed;
  top: 1vh;
  right: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6vh;
  height: 6vh;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.menubt .iconfont {
  font-size: 5vh;
  color: #ffffff;
}

@media (min-width: 1350px) {
  .headermenu {
    display: flex;
  }
}


/* 打开的菜单 */
.menuopen {
  position: fixed;
  z-index: 150;
  background-image: url(../images/menubgi.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  opacity: 0;
  top: -100%;
  transition: all 0.8s;
}


/* 打开后的右侧按钮 */
.menubtopen {
  position: absolute;
  top: 1vh;
  right: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6vh;
  height: 6vh;
  border: 1px solid #535353;
  cursor: pointer;
}

.menubtopen .icon-shanchu {
  font-size: 5vh;
  color: #535353;
}

/* 菜单内容 */
.menuopen ul.menuopen1stul {
  margin-top: 20vw;
}

.menuopen ul.menuopen1stul li.n1stli {
  display: flex;
  align-items: center;
  padding: 2vw 3vw;
  border-bottom: 1px dashed #0a3d807e;
}

.menuopen ul.menuopen1stul li.n1stli a.n1sta {
  font-weight: 750;
  font-size: 1.1rem;
  color: #0A3D80;
}

.menuopen ul.menuopen1stul li.n1stli .menuopenen {
  font-weight: 400;
  font-size: 1rem;
  color: #0A3D80;
}

.menuopen2stul {
  display: none;
}

@media (min-width: 520px) {
  .menuopen ul.menuopen1stul li.n1stli {
    padding: 2vw 5vw;
  }

  .menuopen ul.menuopen1stul {
    margin-top: 5vw;
  }

  .menuopen ul.menuopen1stul li.n1stli {
    display: flex;
    align-items: center;
    padding: 1.7vh 2vw;
    border-bottom: 1px dashed #0a3d807e;
  }
}



.menuopen .contactus {
  position: absolute;
  bottom: 2vh;
  left: 2vw;
  font-size: 0.9rem;
  color: rgba(36, 36, 36, 0.671);
  line-height: 3.5vh;
}

.menuopen .contactus .contactusnow {
  font-size: 1.2rem;
}

.menuopen .contactus .titlestrong {
  font-size: 1rem;
  font-weight: 500;
}


/* 宽屏幕大菜单 */
@media (min-width: 1300px) {
  .menuopen .menuopen1stul {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0 5vw;
    justify-content: space-between;
  }

  .menuopen ul.menuopen1stul {
    position: relative;
    margin-top: 10vw;
  }

  .menuopen ul.menuopen1stul li.n1stli {
    display: flex;
    flex-direction: column;
    justify-content: left;
    top: 0vh;
    height: 100%;
    width: 10vw;
    padding: 0vw;
    padding-bottom: 1.5vw;
    border: none;
    position: relative
  }



  .menuopen .menuopen1stul li.n1stli a .menuopenen {
    display: block;
    text-align: center;
    position: relative;
  }

  .menuopen ul.menuopen1stul::before {
    content: '';
    position: absolute;
    top: 7vh;
    left: 0%;
    width: 100%;
    border-bottom: 1px dashed #0a3d807e;
  }

  .menuopen .menuopen1stul li.n1stli a .menuopenen::after {
    content: '';
    width: 50%;
    border-bottom: 5px solid #0a3d80;
    position: absolute;
    bottom: -2vw;
    left: 50%;
    transform: translateX(-50%);
    /* transform: translateY(-50%); */
  }


  .menuopen2stul {
    display: flex;
    flex-direction: column;
    margin-top: 4vw;

  }

  .n1stli .menuopen2stul li.n2stli {
    margin-top: 1.5vw;
  }

  .n1stli .menuopen2stul li.n2stli .n2sta {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.1rem;
    color: #1b213b;
  }

  .menuopen2stul .n2stli .n2stlien {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 300;
    color: #1b213b;
  }

}

/*  固定侧边联系方式  */
.fixdconect {
  z-index: 120;
  display: flex;
  position: fixed;
  right: 50%;
  bottom: 5%;
  transform: translateX(50%);
  background-color: #126FE0;
  width: 12rem;
  height: 3rem;
  border-radius: 5rem;
}

.fixdconect ul {
  z-index: 120;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.fixdconect ul .iconfont {
  z-index: 121;
  color: #ffffff;
  font-size: 1.5rem;
  transition: all 0.2s;
}

.fixdconect li .icon-weixin:hover {
  font-size: 2.5rem;
  color: #04D268;
}

.fixdconect li .icon-gongzhonghao:hover {
  font-size: 2.5rem;
  color: #04D268;
}

.fixdconect li .icon-xiaohongshu-2:hover {
  font-size: 2.5rem;
  color: #FF2442;
}

.qrcodebox {
  z-index: 120;
  display: flex;
  position: fixed;
  width: 15vw;
  height: 20vw;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  overflow: hidden;
}

.qrcodebox img {
  position: absolute;
  transform: translateY(100%);
  transition: all 1s;
}

/* 宽屏固定侧边联系方式 */
@media (min-width: 1350px) {
  .fixdconect {
    background-color: #04d26800;
    right: 5%;
    bottom: 50%;
    transform: translate(50%, 50%);
    width: 3rem;
    height: 12rem;
  }

  .fixdconect ul {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .fixdconect ul .iconfont {
    color: #7BB1F0;
  }

  .qrcodebox {
    z-index: 120;
    display: flex;
    position: fixed;
    left: 86%;
    bottom: 36%;
    width: 12vw;
    height: 17vw;
    transform: translateX(-50%);
    overflow: hidden;
  }

  .qrcodebox img {
    position: absolute;
    transform: translateY(0%);
    transform: translateX(100%);
    transition: all 1s;
  }
}